<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.salgrater {
	color: red;
}
</style>
</head>
<body>
	<section layout:fragment="content">
		<div th:replace="~{header}"></div>
		<h1>상품 조회/수정</h1>
		<table>
			<tr>
				<th>상품ID</th>
				<th>이름</th>
				<th>단가</th>
				<th>담당자</th>
				<th>등록일자</th>
				<th>공급업체</th>
			</tr>
			<tr th:each="prd : ${prdList}">
				<td>[[${prd.productId}]]</td>
				<td>[[${prd.productName}]]</td>
				<td>[[${prd.productPrice}]]</td>
		        <td>[[${prd.managerId}]]</td>
				<td>[[${prd.ProductDate}]]</td>
				<td>[[${prd.company}]]</td>
			</tr>
		</table>
	</section>
</body>
</html>